<br>
    <div class ="row"> 
        <div class ="col-md-1"> 
            
            
            
        </div>
        <div class ="col-md-10"> 
        
       

<p>Growing up in a large Italian family from New Jersey, where lasagna was the appetizer for Thanksgiving dinner, I developed more than a casual affection for food!  During my adolescence this caused no problem due to my very active lifestyle.  Shortly after high school, however, my party ended as my activities decreased and my metabolism slowed.  By my 22nd birthday I was at my heaviest weight and my lowest point emotionally.</p>

<p>I became very depressed and withdrawn and I realized it was time to make some positive changes.  I joined a gym and began participating in group exercise classes focused on high impact aerobics.  My diet also saw a huge transformation as I began to make better nutritional decisions.  It was a slow journey, but the numbers on the scale began a steady descent, which continued for several months.  Finally, after losing 30 pounds, I felt like a new person.  </p>

<p>I was able to maintain my new weight all through my 30’s, however, at the age of 39 I gave birth to my daughter.  After all my progress, the concept of pregnancy was a bit concerning to me as I was fearful of the inevitable weight gain.  With the blessing of my obstetrician, I continued my exercise regimen and returned to my pre-pregnancy weight within 2 months of delivery.  At that point I decided to add resistance training to my program and lost even more weight and as well as those pesky inches.  I started to see an even bigger difference in my body as I became more toned and defined.  Needless to say I was hooked!</p>

<p>As the years passed I remained dedicated to my fitness regimen, but also added 
more variety which again led to more positive changes.   And to think there was a time when I didn’t want to leave the house.   Now I just feel so good.  To date I have lost 40 pounds and 5 dress sizes.  The journey for me has been life changing and has inspired me to help others achieve the same.   </p>
<p>
    During a visit to my chiropractor I mentioned that I was interested in personal training but was apprehensive.  As it turned out he also owned the gym adjacent  to his office and he encouraged me to get certified as a Personal Trainer and work for him.  We started a circuit training class and the rest, as they say, is history.   For the past 10 years I have been involved in large and small group training as well as private sessions.   Training is my passion and I love it, but even at that point I realized I wanted to do more.
</p>

<p>
Nutrition was a crucial factor in my transformation as well.  I added fresh fruit and vegetables, whole grains and fiber to my diet which also lowered my cholesterol.  The biggest change came when I joined Team Beachbody and started promoting Shakeology.  Although it is a protein shake, it also serves as a complete meal containing a full serving of fruits and vegetables, a multivitamin, probiotics, prebiotics and more.  By including a daily shake I added an additional 20 grams of protein which I believe is the key factor in my success.  Protein is a macronutrient that utilizes more energy to digest hence burns more calories than carbohydrates or fats.
I not only lost more weight but also gained more lean muscle.</p>

<p>
In February I earned my Health Coaching Certification from the American Council on Exercise, which enables me to assist others with behavior modification and nutritional counseling.   The combination of my 10 years of personal training experience and my health coach training enables me to provide you the tools to work towards a better you.</p>


</div>

<div class = "col-md-1">
    
</div>
</div>

<br><br>