<br>
<br>
    <div class ="row"> 
        <div class ="col-md-1"> 
            
            
            
        </div>
        <div class ="col-md-10"> 
        
       
<p>
ACE Certified Health Coach
<br>
NCCA accredited certification
<br>
<br>
-Fitness and Body Composition assessments
<br>
<br>
-Weight management
<br><br>
-Nutritional counseling
<br><br>
-Behavior modification
<br><br>

Learn how to develop a healthier lifestyle by adding movement and making good
choices in your diet.  
I understand how difficult it is because I was once there myself.  It can be done and
it doesn’t have to be painful.   
It just takes desire, dedication and consistency.  
Life is too short…..make the time you have quality time!
<br><br>
Rates:
$50.00 per hour flat rate
</p>

</div>

<div class = "col-md-1">
    
</div>
</div>


<br><br>