<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    
  </head>

  <body>
      
      
      
      
      
      
    
    
    
    
    
    
    
    
    
    
    

    
    <div class ="neighborhood-guides"> 
    <div class ="container"> 
    <h2> "Lorem Ipsum" </h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    
    <div class ="row"> 
        <div class ="col-md-4"> 
            <div class="thumbnail">
                <img src="http://www.fit4lifejax.com/wp-content/uploads/2014/09/ace2.png">
            </div>
            
            <div class="thumbnail">
                <img src="http://www.strength-unchained.com/afaa-logos.jpg">
            </div>
        </div>
        <div class ="col-md-4"> 
            <div class ="thumbnail">
                <img src="http://allmedcorp.com/wp-content/uploads/2014/05/New-Diet-Exercise-Guideline-Heart-Health1.jpg">
            </div>
            <div class ="thumbnail">
                <img src="http://trialx.com/curetalk/wp-content/blogs.dir/7/files/2013/02/man-exercising-regularly.jpg">
            </div>
        </div>
        <div class ="col-md-4"> 
            <div class="thumbnail">
                <img src="http://operation-fit.com/wp-content/uploads/2011/11/shakeology-header.jpg">
            </div>
            <div class="thumbnail">
                <img src="http://www.intactivists.info/wp-content/uploads/2015/10/healthy-22-1.png">
            </div>
        </div>
    
    </div>
    </div>
    
    </div>

    <div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-3">
			<h3>Bio</h3>
			<p>Hear my story, why I love health and why I want to help you ease into a better lifestyle</p>
			<p><%= link_to "See my Journey", 'bio' %></p>
	      </div>
	      <div class="col-md-3">
			<h3>Health</h3>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			<p><%= link_to "A Look at my Diet", 'health_coach' %> </p>
		  </div>
		  <div class="col-md-3">
			<h3>Training</h3>
			<p>Renting out your unused space could pay your bills or fund your next vacation.</p>
			<p><%= link_to "Your Training Regiment", 'training' %></p>
		  </div>
		  <div class="col-md-3">
			<h3>Shakeology</h3>
			<p>Meal Substitutes that will help you on a way to a healthier lifestyle</p>
			<p><%= link_to "Learn about Shakeology", 'https://www.shakeology.com/cmperry' %></p>
		  </div>
	    </div>
	  </div>
	</div>
	
	
	
	
	
	
	
	
	
  </body>
</html>