<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    
  </head>

  <body>
      
      
      
      
      
      
    
    
    
    
    
    
    
    
    
    
    

    
    <div class ="neighborhood-guides"> 
    <div class ="container"> 
    <h2> CP Health and Fitness </h2>
    <p>Let me guide you to an overall better lifestyle with good nutrition and physical fitness</p>
    
    <div class ="row"> 
        <div class ="col-md-4"> 
            <div class="thumbnail">
                <img src="http://www.fit4lifejax.com/wp-content/uploads/2014/09/ace2.png">
            </div>
            
            <div class="thumbnail">
                <img src="http://www.strength-unchained.com/afaa-logos.jpg">
            </div>
        </div>
        <div class ="col-md-4"> 
         <div class="thumbnail" >
                <img src="/assets/Cindy_Perry.jpg" style="height:22.75em">
            </div>
         
           
        </div>
        <div class ="col-md-4"> 
        <br>
        <br>
        <br>
        <br>
            <div class="thumbnail">
                <img src="http://operation-fit.com/wp-content/uploads/2011/11/shakeology-header.jpg" style="height:10.25em">
            </div>

        </div>
    
    </div>
    </div>
    
    </div>

    <div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-3">
			<h3>Bio</h3>
			<p>Hear my story, why I love health and why I want to help you ease into a better lifestyle</p>
			<p><%= link_to "See my Journey", 'bio' %></p>
	      </div>
	      <div class="col-md-3">
			<h3>Health Coaching</h3>
			<p>Modify your behavior to make better choices that will allow you to look and feel your best!</p>
			<p><%= link_to "Learn How", 'health_coach' %> </p>
		  </div>
		  <div class="col-md-3">
			<h3>Training</h3>
			<p>Personal and small group training, circuit training, high intensity interval training, core and functional training.</p>
			<p><%= link_to "Your Training Regimen", 'training' %></p>
		  </div>
		  <div class="col-md-3">
			<h3>Shakeology</h3>
			<p>Meal Substitutes that will help you on a way to a healthier lifestyle</p>
			<p><%= link_to "Learn about Shakeology", 'https://www.shakeology.com/cmperry' %></p>
		  </div>
	    </div>
	  </div>
	</div>
	
	
	
	
	
	
	
	
	
  </body>
</html>