  <div class ="row"> 
        <div class ="col-md-1"> 
            
            
            
        </div>
        <div class ="col-md-10"> 
        
       
<p>
AFAA Certified Personal Trainer
<br>
Tabata Bootcamp Certification<br>
Bosu Master Training Certification<br>
Team Beachbody Coach<br><br>


-Small group training<br><br>

-Private sessions<br><br>

-In home training<br><br><br>


My training sessions consist of a full body workout including the cardiovascular system.   I incorporate core activation in most of the exercises as well as functional
movements that we all do in our everyday life.  I am certified in the Tabata method which utilizes the high intensity interval training protocol.  This type of training is
an excellent way to speed up your metabolism and burn calories and body fat.
The Bosu Master certification has given me countless way to train the core while
working the major muscle groups.  I have received a great deal of positive feedback 
regarding the difference my workouts have provided.
<br><br>
Rates
<br><br>
$50.00 – Private Session<br>
$25.00 -  per person for 2<br>
$20.00 -  per person for 3 to 5<br>
$60.00 -  In home training<br>

</div>

<div class = "col-md-1">
    
</div>
</div>

<br>
<br>